<ul class="list-group list-group-flush">
  <li class="list-group-item">
    UAH
    <div class="btn-group pull-right">
      <button class="btn btn-sm btn-outline-dark"><i class="fa fa-pencil"></i></button>
      <button class="btn btn-sm btn-outline-dark"><i class="fa fa-trash"></i></button>
    </div>
  </li>
  <li class="list-group-item">
    USD
    <div class="btn-group pull-right">
      <button class="btn btn-sm btn-outline-dark"><i class="fa fa-pencil"></i></button>
      <button class="btn btn-sm btn-outline-dark"><i class="fa fa-trash"></i></button>
    </div>
  </li>
  <li class="list-group-item">
    EUR
    <div class="btn-group pull-right">
      <button class="btn btn-sm btn-outline-dark"><i class="fa fa-pencil"></i></button>
      <button class="btn btn-sm btn-outline-dark"><i class="fa fa-trash"></i></button>
    </div>
  </li>
</ul>
<br>
<div>
  <button type="button" class="btn btn-outline-dark">
    Додати валюту
  </button>
</div>
