form {
  margin-top: 3rem;
}

input, textarea, select {
  outline: none;
  box-shadow:none !important;
  border:1px solid #ccc !important;
}

.input-group-prepend .input-group-text {
  min-width: 9rem;
}

.container {
  height: 100vh;
}
