<form [formGroup]="productForm" (ngSubmit)="submitProduct()" autocomplete="off">
  <div class="form-group">
    <app-translatable-field [object]="product"
                            [fieldTitle]="'Назва продукту'"
                            [fieldName]="'name'"
                            [textarea]="false"
                            [parentForm]="productForm">
    </app-translatable-field>
  </div>
  <div class="form-group">
    <app-translatable-field [object]="product"
                            [fieldTitle]="'Опис продукту'"
                            [fieldName]="'description'"
                            [textarea]="true"
                            [parentForm]="productForm">
    </app-translatable-field>
  </div>
  <div class="form-group">
    <div class="input-wrapper">
      <select formControlName="category" (change)="assignCategory()" class="form-control custom-select">
        <option *ngFor="let category of assignableCategories" [ngValue]="category">
          {{category.name}}
        </option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="input-wrapper">
      <input class="form-control" formControlName="videoUrl" type="text" placeholder="https://youtube.com/embed/...">
    </div>
  </div>
  <div class="form-group">
    <div class="input-wrapper">
      <input formControlName="discount"
             [placeholder]="languageService.i18n['discount.product']"
             id="product-discount"
             class="form-control"
             type="number"
             name="discount">
      <span class="fa fa-check" *ngIf="productForm.get('discount').valid && productForm.get('discount').dirty"></span>
      <span class="fa fa-times" *ngIf="productForm.get('discount').invalid && productForm.get('discount').dirty"></span>
    </div>
  </div>
  <div class="form-group">
    <div class="input-wrapper col-3">
      <input formControlName="retailPrice"
             id="product-retail-price"
             [placeholder]="languageService.i18n['retail.price.product']"
             class="form-control"
             type="number"
             name="retailPrice">
      <span class="fa fa-check" *ngIf="productForm.get('retailPrice').valid && productForm.get('retailPrice').dirty"></span>
      <span class="fa fa-times" *ngIf="productForm.get('retailPrice').invalid && productForm.get('retailPrice').dirty"></span>
    </div>
    <div class="input-wrapper col-3">
      <input formControlName="bulkPrice"
             [placeholder]="languageService.i18n['bulk.price.product']"
             id="product-bulk-price"
             class="form-control"
             type="number"
             name="bulkPrice">
      <span class="fa fa-check" *ngIf="productForm.get('bulkPrice').valid && productForm.get('bulkPrice').dirty"></span>
      <span class="fa fa-times" *ngIf="productForm.get('bulkPrice').invalid && productForm.get('bulkPrice').dirty"></span>
    </div>
    <div class="input-wrapper col-3">
      <select id="product-currency" #currency
              class="form-control custom-select"
              name="currency">
        <option>UAH</option>
        <option>USD</option>
        <option>EUR</option>
      </select>
    </div>
  </div>
  <ul *ngIf="getProductAttributes().length > 0"
      class="list-group list-group-flush">
    <li *ngFor="let attribute of getProductAttributes()" class="list-group-item">
      {{attribute.name}}
      &nbsp;
      <span *ngFor="let val of attribute.values">{{val.name}}&nbsp;</span>
      <div class="btn-group pull-right">
        <button class="btn btn-outline-dark border-0" (click)="emitAttribute(attribute)" [appModal]="productAttributeModal">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </li>
  </ul>

  <div class="modal fade" id="product-attribute-modal" tabindex="-1" #productAttributeModal>
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{languageService.i18n['new.attribute']}}</h5>
          <button type="button" class="close" [appModal]="productAttributeModal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <template #attributeContainer></template>
        </div>
        <div class="modal-footer">
          <div class="modal-footer">
            <button type="button"
                    [appModal]="productAttributeModal"
                    class="btn btn-outline-dark">{{languageService.i18n['save.attribute']}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br *ngIf="product.attributes.length > 0">
  <div class="form-group">
    <input title="" hidden id="product-image" type="file" (change)="setFiles($event)" accept=".jpg, .jpeg, .png"
           multiple #fileInput>
    <button type="button" class="btn btn-outline-dark" (click)="fileInput.click()">
      {{languageService.i18n['upload.images.product']}}
    </button>
  </div>
  <div class="form-group">
    <ul class="list-group list-group-flush" #imageContainer [hidden]="imageContainer.children.length === 0">
      <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
          *ngFor="let imageToUpload of getProductImages(); let i = index" data-index="i">
        <img width="50" height="50" [alt]="imageToUpload.name" [title]="imageToUpload.name"
             [src]="imageToUpload.url"/>
        <span class="badge badge-dark badge-pill">{{imageToUpload.type}}</span>
        <span class="badge badge-secondary badge-pill">{{bytesToSize(imageToUpload.size)}}</span>
        <span class="btn btn-outline-dark border-0"
              (click)="removeImage(i)"><i class="fa fa-trash"></i></span>
      </li>
    </ul>
  </div>
  <div class="form-group">
    <div class="btn-group">
      <button class="btn btn-outline-dark" type="submit">{{languageService.i18n['save.product']}}</button>
      <button class="btn btn-outline-dark" type="reset">{{languageService.i18n['clear.product']}}</button>
      <button class="btn btn-outline-dark" type="button">{{languageService.i18n['cancel.product']}}</button>
    </div>
  </div>
</form>
