<li class="list-group-item border-0" style="padding-top: 0">
  <div class="form-group">
    <select (change)="getAttrValues($event.target.value, attributeValue)"
            name="attributeRefName" id="product-attribute" class="custom-select" #attributeName>
      <option></option>
      <ng-template ngFor let-attribute [ngForOf]="attributes">
        <option *ngIf="!isPresent(attribute)" [value]="attribute.id">
          {{attribute.name}}
        </option>
      </ng-template>
    </select>
  </div>
  <div class="form-group" [hidden]="hideValues">
    <select (change)="onAttributeValueSelected(attributeName.value, $event.target.value)"
            name="attributeRefValue"
            id="product-attribute-value" class="custom-select" #attributeValue>
    </select>
  </div>
</li>
