<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">{{title}}</span>
  </div>
  <div *ngIf="textarea; else input" class="textarea-container">
      <textarea class="form-control rounded-0" style="resize: none" type="text" *ngFor="let language of languages"
                [hidden]="language.code !== langSelect.value"
                [(ngModel)]="obj.i18n[name][language.code]"
                [name]="name" [lang]="language.code" [id]="name + '-' + language.code"></textarea>
  </div>
  <ng-template #input>
    <input class="form-control rounded-0" type="text" *ngFor="let language of languages"
           [hidden]="language.code !== langSelect.value"
           [(ngModel)]="obj.i18n[name][language.code]"
           [name]="name" [lang]="language.code" [id]="name + '-' + language.code">
  </ng-template>
  <div class="input-group-append">
              <span class="input-group-text">
                <select class="custom-select translation" (change)="cd.detectChanges()" #langSelect>
                  <option *ngFor="let language of languages" [value]="language.code">{{language.name}}</option>
                </select>
              </span>
  </div>
</div>

