<div class="container">
  <div class="row">
    <ul class="nav nav-tabs nav-fill col-12" id="tabs" role="tablist">

      <li class="nav-item">
        <a class="nav-link"
           id="product-tab"
           [routerLink]="['/admin']"
           queryParamsHandling="preserve"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact:true}">
            Продукт
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="categories-tab" [routerLink]="['categories']" queryParamsHandling="preserve" routerLinkActive="active">Категорії</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" id="attributes-tab" [routerLink]="['attributes']" queryParamsHandling="preserve" routerLinkActive="active">Атрибути</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" id="languages-tab" [routerLink]="['languages']" queryParamsHandling="preserve" routerLinkActive="active">Мови</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" id="currencies-tab" [routerLink]="['currencies']" queryParamsHandling="preserve" routerLinkActive="active">Валюти</a>
      </li>
    </ul>
    <div class="tab-content col-12" id="tabs-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
