<ul class="list-group list-group-flush">
  <li class="list-group-item" *ngFor="let language of languages">
    {{language.name}}
    <div class="btn-group pull-right">
      <button *ngIf="languages.length > 1" class="btn btn-sm btn-outline-dark" (click)="deleteLanguage(language)"><i class="fa fa-trash"></i>
      </button>
    </div>
  </li>
</ul>
<br>
<div>
  <button (click)="resetLanguage()" type="button" class="btn btn-outline-dark" [appModal]="languageModal">
    {{languageService.i18n['add.language']}}
  </button>
</div>

<div class="modal fade" id="language-modal" tabindex="-1" #languageModal>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{languageService.i18n['new.language']}}</h5>
        <button type="button" class="close" [appModal]="languageModal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="#" autocomplete="off">
          <select (change)="onLanguageSelected($event)">
            <option *ngFor="let language of availableLanguages">
              {{language.name}}&nbsp;({{language.code}})
            </option>
          </select>
        </form>
      </div>
      <div class="modal-footer">
        <button (click)="addLanguage()" [appModal]="languageModal" type="button"
                class="btn btn-outline-dark">{{languageService.i18n['save.language']}}
        </button>
      </div>
    </div>
  </div>
</div>
