<div class="row mx-auto">
  <div class="card col-xs-12 col-sm-5 col-md-5 col-lg-3 col-xl-2" *ngFor="let product of products">
    <a [routerLink]="['/product', product.id]" class="card-link mx-auto"><img class="card-img-top" [src]="product.images[0]"
                                                  alt="Card image cap"></a>
    <div class="card-body">
      <a [routerLink]="['/product', product.id]" class="card-link">
        <h6 class="card-title">{{product.name}}</h6>
      </a>
      <h6>{{product.bulkPrice}} {{product.currency}}</h6>

      <div class="row justify-content-end">
        <button style="margin-right: 4rem" class="btn btn-lg btn-outline-dark">Купити</button>
        <button class="btn btn-outline-dark border-0"><i class="fa fa-2x fa-shopping-cart"></i></button>
        <button class="btn btn-outline-dark border-0"><i class="fa fa-2x fa-heart"></i></button>
      </div>

    </div>
  </div>
</div>

