<ul class="list-group list-group-flush">
  <li *ngFor="let attr of attributes" class="list-group-item">
    {{attr.name}}
    <div class="btn-group pull-right">
      <button (click)="editAttribute(attr)" class="btn btn-sm btn-outline-dark"><i class="fa fa-pencil"></i></button>
      <button (click)="deleteAttribute(attr)" class="btn btn-sm btn-outline-dark"><i class="fa fa-trash"></i></button>
    </div>
  </li>
</ul>
<br>
<div>
  <button (click)="createNewAttribute()" type="button" [appModal]="attributeModal" class="btn btn-outline-dark" #modalTrigger>
    {{languageService.i18n['add.attribute']}}
  </button>
</div>

<div class="modal fade" id="attribute-modal" tabindex="-1" #attributeModal>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{languageService.i18n['new.attribute']}}</h5>
        <button type="button" class="close" [appModal]="attributeModal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="#" autocomplete="off">
          <div class="form-group">
            <div class="input-group">
              <input [placeholder]="languageService.i18n['priority.attribute']" class="form-control" type="number" min="0" max="100" [(ngModel)]="attribute.priority"
                     name="priority">
            </div>
          </div>
          <div class="form-group">
            <app-translated-input [parentForm]="attributeForm" [obj]="attribute" [title]="'Атрибут'" [name]="'name'" [textarea]="false">
            </app-translated-input>
          </div>
          <div class="form-group">
            <app-attribute-value [attribute]="attribute" (valueEmitter)="addValue($event)"></app-attribute-value>
            <br><br>
            <ul class="list-group" id="attribute-values">
              <li class="list-group-item" *ngFor="let value of attribute.values">
                <div class="row">
                  <div class="input-group col-6">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Категорія</span>
                    </div>
                    <app-categories-selector (selection)="assignCategory(value, $event)"></app-categories-selector>
                  </div>
                  <div class="btn-group col-6">
                    <button [disabled]="attrVal.editing" (click)="editValue(value, editControls);" class="btn btn-sm btn-outline-dark">
                      <i class="fa fa-pencil"></i>
                    </button>
                    <button [disabled]="attrVal.editing" (click)="deleteValue(value)" class="btn btn-sm btn-outline-dark">
                      <i class="fa fa-trash"></i>
                    </button>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-10">
                    <ul class="list-unstyled">
                      <li *ngFor="let lang of languages">
                        <span class="font-weight-bold">{{lang.name}}:&nbsp;</span>
                        <span class="font-weight-normal">{{value.i18n['value'][lang.code]}}</span>
                      </li>
                    </ul>
                  </div>
                  <div class="col-2">
                    <div class="btn-group pull-right" hidden #editControls>
                      <button (click)="confirmEdit(editControls)" class="btn btn-sm btn-outline-dark"><i
                        class="fa fa-check"></i></button>
                      <button (click)="discardEdit(editControls)" class="btn btn-sm btn-outline-dark"><i
                        class="fa fa-times"></i></button>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button (click)="saveAttribute()" type="button" class="btn btn-outline-dark">{{languageService.i18n['save.attribute']}}</button>
      </div>
    </div>
  </div>
</div>
